<div class="col-md-20">
    <div class="jumbotron">
        <img class="slack_logo" src="/img/slack.svg"/>
        <h3>Follow #review-heroes on Slack</h3>
        <a target="_blank" href="https://magento.slack.com/messages/C6NCE24JK">Click Here!</a>
    </div>
</div>