<div class="col-xs-3 col-sm-3 placeholder">
    <span>{{ subscribe_stats.subscribed_total }}</span>
    <h4>Subscribed Emails</h4>
    <span class="text-muted">Total of Emails subscribed</span>
</div>