<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% include 'layout/head.html.twig' %}
    {% endblock %}
</head>
<body>
{% block header %}
    {% include 'layout/header.html.twig' %}
{% endblock %}

{% block navbar %}
    {% include 'layout/navbar.html.twig' %}
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{{ ranking_title }}</h1>

            {% block sidebar %}
                {% include 'layout/sidebar.html.twig' %}
            {% endblock %}

            {% block ranking_row_filters %}
                {% include 'ranking/ranking_row_filters.html.twig' %}
            {% endblock %}

            {% block ranking_full_list_table %}
                {% include 'ranking/ranking_full_list_table.html.twig' %}
            {% endblock %}
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                {% include 'layout/footer.html.twig' %}
            </div>
        </div>
    </div>
</footer>

</body>
<script>
    $(document).ready(function(){
        $('#ranking').addClass('active');
    });

    var ranking_name = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);

    $.get('/ranking/' + ranking_name + '/stats', function( data ) {
        new Chart(document.getElementById('chart').getContext('2d'), {
            type: 'line',
            data: {
                labels: data.date,
                datasets: [{
                    label: ranking_name,
                    data: data.count,
                    backgroundColor: "rgba(51,102,255,0.4)"
                }]
            }
        });
    });
</script>
</html>
