Made with <span class="glyphicon glyphicon-heart red"></span> by
<a href="//es.linkedin.com/in/rcgrande">Ruben</a>,
<a href="//es.linkedin.com/in/loginesta">Marc G.</a>,
<a href="//es.linkedin.com/in/pedrofdez">Pedro</a>
and <a href="//es.linkedin.com/in/jcuerdo">Jorge</a>
<br />created during <strong>Magento Commerce Hackday - Barcelona 2016</strong>
and <strong>Magento Summer Lab - Barcelona 2017</strong>
