<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% include 'layout/head.html.twig' %}
        {% endblock %}

        <script src="../../../js/profile/charts.js"></script>

    </head>
    <body>
        {% block header %}
            {% include 'layout/header.html.twig' %}
        {% endblock %}

        {% block navbar %}
            {% include 'layout/navbar.html.twig' %}
        {% endblock %}

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">Score</h1>

                    {% block sidebar %}
                        {% include 'layout/sidebar.html.twig' %}
                    {% endblock %}

                    {% block score %}
                        {% include 'profile/score.html.twig' %}
                    {% endblock %}

                    <div class="row">
                        <div class="col-md-6">
                            <h2> Participation</h2>
                            <canvas id="participationEvolutionChart"></canvas>
                        </div>
                        <div class="col-md-6">
                            <h2> Builds</h2>
                            <canvas id="buildsEvolutionChart"></canvas>
                        </div>
                    </div>

                    {% block pr_list %}
                        {% include 'profile/pr_list.html.twig' %}
                    {% endblock %}

                </div>
            </div>
        </div>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                        {% include 'layout/footer.html.twig' %}
                    </div>
                </div>
            </div>
        </footer>
    </body>

    <script>
        $(document).ready(function(){
            $('#myprofile').addClass('active');
        });
    </script>
</html>
